* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 10px;
  min-width: 1440px;
  height: 145px;
  padding: 19px 21px;
}

.Navbar ul {
  display: flex;
}
.Navbar ul li {
  display: flex;
  list-style: none;
}
.Navbar ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: Public Sans;
  font-style: normal;
  margin: auto;
  color: 774aba;
  /* font-size: 40px; */
  padding: 0px 10px;
}
.Navbar ul li a img {
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 25%;
}
#lks {
  display: flex;
  position: absolute;
  right: 100px;
  padding-top: 30px;
}

#Icon {
  height: 96.06px;
  width: 190px;
}

section {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.quote {
  /* The main aim of “Quick Store” is to make shopping easy. */
  position: absolute;
  width: 613px;
  height: 291px;
  left: 30px;
  top: 291px;

  font-family: Calibri;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;

  color: #364c9b;
}
.para {
  /* para */
  position: absolute;
  width: 505px;
  height: 120px;
  left: 72px;
  top: 450px;

  font-family: Calibri;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}
.image {
  position: absolute;
  width: 430px;
  height: 184px;
  left: 1300px;
  top: 427px;
}
.img {
  position: absolute;
  width: 212px;
  height: 158px;
  left: 760px;
  top: 250px;
}
.imgs {
  position: absolute;
  width: 300px;
  height: 190px;
  left: 1070px;
  top: 400px;
}
.im {
  position: absolute;
  width: 280px;
  height: 50%;
  left: 654px;
  top: 550px;
}
.imgs5 {
  position: absolute;
  width: 261px;
  height: 253px;
  left: 1012px;
  top: 816px;
}

img {
  height: 100%;
  width: 100%;
}

.about-section {
  padding: 20px;
  text-align: left;
  color: black;
}
